<div class="row">
    <div class="card col-6 mr-3">
        <div>
            <img *ngIf="producto" src="{{producto.producto.imagen}}" style="width: 100%  " alt="...">
        </div>
    </div>
    <div class="card col-5 ">
        <div class="card-body">
            <h5 class="card-title">Telefono</h5>
            <h6 class="card-subtitle mb-2 text-muted">Contacta al vendedor</h6>
            <br>
            <img src="https://image.flaticon.com/icons/png/512/15/15895.png" style="width: 33%">
            <br>
            <h4 *ngIf="user" class="card-title">{{user.telefono}}</h4>

        </div>
    </div>

</div>
<br>
<div class="row">
    <div class="card col-6">
        <div class="card-body">
            <h5 class="card-title">Descripción</h5>
            <h6 class="card-subtitle mb-2 text-muted">Más información acerca del producto</h6>
            <h3 *ngIf="producto" class="card-title">{{producto.producto.descripcion}}</h3>
        </div>
    </div>
    <div class="card col-5 ml-3">
        <div class="card-body">
            <h5 class="card-title">Información del vendedor</h5>
            <h6 *ngIf="user" class="card-subtitle mb-2 text-muted">{{user.nombre}}</h6>
            <h6 *ngIf="user" class="card-subtitle mb-2 text-muted">{{user.email}}</h6>
        </div>
    </div>
    <br>
</div>
<br>
<br>
<div class="col-12">
    <form>
        <div class="form-group">
            <h3 for="exampleFormControlTextarea1">Contacta al vendedor</h3>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="5"></textarea>
        </div>
        <br>
        <button type="submit" class="btn btn-primary mb-2" (click)="mensaje()">Enviar correo</button>

    </form>
</div>